
@{
    ViewBag.Title = "Weather or Not";
}

<h2>WeatherJS</h2>

<div class="col-md-12">
    <h1>Current Conditions in <span data-bind="text:name"></span></h1>
</div>

<div class="col-md-12">
    Temperature is <span data-bind="text:main.temp"></span>
</div>

<button>Get weather</button>

<script>
    var weather = Object
    $(document).ready(function () {
        $("button").click(function () {
            $.get(@Url.Action("GetWeather", "Home") function (response) {
                //response
                console.log(response);
                weather = ko.mapping.FromJS(response) //populate the weather object
                ko.applyBindings(weather);

            });
        });
    });
</script>